app/.env
app/__pycache__
app/auth/__pycache__
app/database/__pycache__
app/models/__pycache__
app/routes/__pycache__
app/routes/login/__pycache__
app/routes/host/__pycache__
app/routes/hosting/__pycache__
app/routes/crawl/__pycache__

myvenv
# gitignore가 작동하지 않을때 대처법
# git rm -r --cached .
# git add .
# git commit -m "fixed untracked files"
